.change-form,
.compare-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    margin: 0.5rem auto;
}

.change-form {
    width: fit-content;
}

.compare-form {
    width: min(50%, 640px);
}

.dropdown-selectors {
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
    flex: 1;
}

.change-form label,
.compare-form label {
    align-self: center;
    padding-left: 0.15rem;
    font-size: 0.95rem;
    font-weight: 600;
}

.doc-select {
    appearance: none;
    font-size: 0.97rem;
    padding: 0.75rem 2.5rem 0.75rem 0.9rem;

    /* Represents the downward dropdown arrow */
    background:
        linear-gradient(45deg, transparent 50%, rgb(102, 102, 102) 50%),
        linear-gradient(135deg, rgb(102, 102, 102) 50%, transparent 50%),
        white;
    background-position:
        calc(100% - 18px) calc(50% + 2px),
        calc(100% - 12px) calc(50% + 2px),
        0 0;
    background-size:
        6px 6px,
        6px 6px,
        100% 100%;
    border: 1px solid black;
    background-repeat: no-repeat;
    border-radius: 12px;
}
