.legal-document {
    max-width: 1280px;
    margin: 0;
    padding: 25px;
    background: var(--primary-lightest);
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    box-sizing: border-box;
}

/* Artikel Containers */

.buch-name,
.abt-name,
.tit-name,
.preamble-title {
    margin: 1em 0;
    font-size: 2em;
}

.kap-name {
    margin: 1em 0;
    font-size: 1.6em;
}

.abs-name {
    margin: 1em 0;
    font-size: 1.3em;
}

.lvl-name {
    margin: 1em 0;
    font-size: 1.3em;
    font-weight: bold;
}

/* Text Containers */

.art-text,
.par,
.bst {
    margin-bottom: 0.5em;
}

.art-name {
    margin: 1em 0;
    font-size: 1.2em;
    font-weight: bold;
}

.art-name,
.art-name * {
    color: var(--secondary-color);
}

.par > span,
.bst > span {
    padding-right: 0.3em;
}

.bst {
    margin-left: 1em;
}

.bst-list {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0px;
    list-style: none;
}

p.p-list {
    margin: 0.25rem 0;
    padding-left: 1rem;
}
