header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 1rem;
    background: var(--primary-color);
}

header .header-titel {
    align-self: center;
    margin-right: 1rem;
    font-size: clamp(1.1rem, 2vw, 1.6rem);
    font-weight: bold;
    text-align: right;
}

header nav {
    display: flex;
}

header nav a.law-icon {
    padding: 5px;
}

header nav a {
    padding: 5px 15px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    font-size: clamp(1.1rem, 2vw, 1.6rem);
    font-weight: bolder;
}

header nav a:hover {
    background: hsl(from var(--primary-color) h s calc(l + 20));
    text-decoration: underline;
}

header .current-page {
    text-decoration: underline;
}

@media screen and (max-width: 720px) {
    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* optional, centers links */
        gap: 0.5rem;
        /* spacing between links */
    }

    header .law-icon img {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    header nav a {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .header-titel {
        display: none;
    }

    header nav {
        width: 100%;
    }

    header nav a {
        padding: 1px 5px;
    }
}
